<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="stylesheet" th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet">

	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vutw29vp6n"></script>

	<title>Realty</title>

</head>

<body class="bg-gradient-light sidebar-toggled">


	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-6 col-lg-12 col-md-9" style="margin-top: 13%;">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<!--<div class="col-lg-6 d-none d-lg-block "></div>-->
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<!--<a href="#"><img
												src="/test.png"></a>-->
									</div>
									<hr><br>
									<form class="user" role="form" action="/login" th:object="${memberForm}" method="post">
										
										<div class="alert alert-danger" th:if="${error}">
											<span class="txt1" th:text="${message}">사용자ID 또는 비밀번호를 확인해 주세요.</span>
										</div>
										
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												name="userId" placeholder="Enter ID">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user" name="userPw" placeholder="Password">
										</div>
										<!--<div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>-->
										<button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
									</form>
									<br>
									<a href="/register" class="btn btn-primary btn-user btn-block" id="register">
										회원가입
									</a>
									<hr>
									<!--<div class="text-center">
                                        <a class="small" href="#">Create an Account!</a>
                                    </div>-->
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

<script th:inline="javascript">
	let map;

	$(document).ready(function(){
		var message = "[[${msg}]]";

	/*	// 지도 초기화
		const mapOptions = {
			center: new naver.maps.LatLng(37.5665, 126.9780), // 서울 중심 좌표
			zoom: 10
		};
		const map = new naver.maps.Map('map', mapOptions);
*/


	});

f
</script>

</body>

</html>