### common ###
.idea
*.iml
target/*
*.properties

### Batch ###
Batch/.gradle/*
Batch/build/*
Batch/out/*
!Batch/sampleProperties/*
Batch/src/main/resources/application.properties

### RealtyServer###
RealtyServer/.gradle/*
RealtyServer/build/*
!RealtyServer/sampleProperties/*
RealtyServer/src/main/resources/application.properties

