<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Realty</title>

    <!-- Custom fonts for this template-->

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/bootstrap/vendor/fontawesome-free/css/all.min.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/bootstrap/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- jQuery CDN 사용 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script th:inline="javascript">

        // constructor
        $(function(){

            // domain URI setting //
            const currentDomain = window.location.origin;
            const resourcePath = "/login";

            $('#btn-register-user').button().on("click", function() {
                registerUser();
            });

            $('#btn-register-move').button().on("click", function() {
                window.location.href =currentDomain+resourcePath;
            });



            // <a> 태그에 href 속성 설정
            const googleBtn = document.getElementById("googleBtn");
            googleBtn.href = `${currentDomain}${resourcePath}`;

            const facebookBtn = document.getElementById("facebookBtn");
            facebookBtn.href = `${currentDomain}${resourcePath}`;


        })

        function registerUser(){

            // 현재 페이지의 URL 가져오기
            var currentUrl = window.location.href;

            // URL을 파싱하여 필요한 정보 추출
            var parser = document.createElement('a');
            parser.href = currentUrl;

            // 서버의 IP 주소, 포트 및 Context Path 가져오기
            var serverIp = parser.hostname;
            var serverPort = parser.port;

            var contextPath = /*[[@{/}]]*/ '';

            var userId = $('#id').val().trim();
            var userPw = $('#password').val().trim();
            var userName = $('#name').val().trim();

            // validation //
            if (!userId) {
                alert("아이디를 입력해주세요.");
                return; // 함수 종료
            }

            if (!userPw) {
                alert("비밀번호를 입력해주세요.");
                return; // 함수 종료
            }

            if (!userName) {
                alert("이름을 입력해주세요.");
                return; // 함수 종료
            }


            console.log("user id : "+userId);
            console.log("user pw : "+userPw);
            console.log("user name : "+userName);

            $.ajax({
                type : 'POST',
                url : "http://"+serverIp+":"+serverPort+"/register",
                data : JSON.stringify(
                    {
                        "userId" : $('#id').val().trim(),
                        "userPw" : $('#password').val().trim(),
                        "userName" : $('#name').val().trim()
                    }
                ),
                contentType: 'application/json',

                success : function (resp) {

                    console.log("resp: "+resp);

                    // 서버에서 반환한 상태와 메시지를 기반으로 alert 표시
                    if (resp.status === 'success') {
                        alert(resp.message);            // 회원가입 성공 메시지
                        window.location.href = "/login"; // 로그인 페이지로 이동


                    } else if (resp.status === 'error') {
                        alert(resp.message); // 오류 메시지
                    } else if (resp.status === 'duplicate') {
                        alert(resp.message); // 아이디 중복 메시지
                    } else {
                        alert("예기치 못한 오류가 발생했습니다.");
                    }

                },
                error:function(request,status,error){
                    console.error("회원가입 요청 실패: ", error);
                    alert("회원가입 요청 중 오류가 발생했습니다. 잠시 후 다시 시도해 주세요.");
                }
            });
        }

    </script>


</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-2 d-none d-lg-block bg-register-image"></div>

                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="id" placeholder="id">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="password" placeholder="password">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="name" placeholder="name">
                                </div>

                                <!--추후 적용-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleInputPassword" placeholder="Password">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleRepeatPassword" placeholder="Repeat Password">-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <a href="login.html" class="btn btn-primary btn-user btn-block">-->
<!--                                    회원가입-->
<!--                                </a>-->

                                <button type="button" class="btn primary btn-user btn-block btn-info" id="btn-register-user">
                                    <i class="fa fa-save fa-fw"></i>회원가입
                                </button>

                                <button type="button" class="btn primary btn-user btn-block btn-secondary"  id="btn-register-move">
                                    <i class="fa fa-save fa-fw"></i>로그인 이동
                                </button>


                                <!--소셜 로그인  view -->
<!--                                <a href="login.html" class="btn btn-primary btn-user btn-block">-->
<!--                                    Register Account-->
<!--                                </a>-->
<!--                                <hr>-->
                                <a id="googleBtn" href="" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a id="facebookBtn" href="" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 d-none d-lg-block bg-register-image"></div>

                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->

    <link th:href="@{/bootstrap/vendor/jquery/jquery.min.js}" rel="stylesheet">
    <link th:href="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}" rel="stylesheet">
    <link th:href="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}" rel="stylesheet">
    <link th:href="@{/bootstrap/js/sb-admin-2.min.js}" rel="stylesheet">

</body>

</html>