<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">USER INFORMATION</h1>
		</div>

		<!-- Content Row -->
		<div class="row">

			<div class="col-lg-6 mb-4">

				<!--User Information-->
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">User Information</h6>
					</div>
					<div class="card-body">
						<div class="col-md">
							<div class="form-floating">
								<label for="floatingInputGrid">USER ID</label>
								<input type="text" class="form-control" th:value="${user.userId}" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">USER NAME</label>
								<input type="text" class="form-control" th:value="${user.userName}" readonly>
							</div>
							<hr>
							
							<!--<div class="form-floating">
								<label for="floatingInputGrid">E-MAIL</label>
								<input type="text" class="form-control" placeholder="example@example.com" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">PHONE</label>
								<input type="text" class="form-control" placeholder="phone Number" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">DESCRIPTION</label>
								
								<input type="text" class="form-control"
									placeholder="DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION " disabled>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div> <!--End Content Row-->
	</div>

	<!-- /.container-fluid -->

	<!--kakao map test -->
	<div id="map" style="width:500px;height:400px;">kakao map</div>

	<!--CDN : kakao map sdk -->
	<!--
    services : 장소 검색 과 주소-좌표 변환 을 할 수 있는 services 라이브러리 입니다.
    clusterer :마커를 클러스터링 할 수 있는 클러스터러 라이브러리 입니다.
    drawing : 지도 위에 마커와 그래픽스 객체를 쉽게 그릴 수 있게 그리기 모드를 지원하는 drawing 라이브러리 입니다.
    -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e594070f5e090971964662267b642f4&libraries=services,clusterer,drawing"></script>

	<script>
		var container = document.getElementById('map');	//지도를 담을 영역의 DOM 레퍼런스
		var options = {		 //지도를 생성할 때 필요한 기본 옵션
			center: new kakao.maps.LatLng(33.450701, 126.570667),	//지도의 중심좌표.
			level: 3	//지도의 레벨(확대, 축소 정도)
		};

		var map = new kakao.maps.Map(container, options);		//id가 'map' 인 태그에 지도 생성 및 객체 리턴
		console.log(map)
	</script>

</th:block>


</html>