<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">USER INFORMATION</h1>
		</div>

		<!-- Content Row -->
		<div class="row">

			<div class="col-lg-6 mb-4">

				<!--User Information-->
				<div class="card shadow mb-4 h-100">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">User Information</h6>
					</div>
					<div class="card-body">
						<div class="col-md">
							<div class="form-floating">
								<label for="floatingInputGrid">USER ID</label>
								<input type="text" class="form-control" th:value="${user.userId}" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">USER NAME</label>
								<input type="text" class="form-control" th:value="${user.userName}" readonly>
							</div>
							<hr>

							<!--<div class="form-floating">
								<label for="floatingInputGrid">E-MAIL</label>
								<input type="text" class="form-control" placeholder="example@example.com" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">PHONE</label>
								<input type="text" class="form-control" placeholder="phone Number" readonly>
							</div>
							<hr>
							<div class="form-floating">
								<label for="floatingInputGrid">DESCRIPTION</label>
								
								<input type="text" class="form-control"
									placeholder="DESCRIPTION DESCRIPTION DESCRIPTION DESCRIPTION " disabled>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div> <!--End Content Row-->
	</div>

	<!-- /.container-fluid -->

	<!--kakao map test -->
	<div id="map" style="width:500px;height:400px;">naver map</div>

	<!--CDN : kakao map sdk -->
	<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9e594070f5e090971964662267b642f4&libraries=services,clusterer,drawing"></script>-->
	<!--네이버 지도 API -->
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=vutw29vp6n"></script>

	<script th:inline="javascript">
		let map;
		let maker;
		$(document).ready(function(){
			console.log("aaaaaa");
			// 지도 초기화
			navigator.geolocation.getCurrentPosition(function(pos){
				//혹은 하이브리드와 같은 앱의 경우 map함수에 좌표를 넣어 실행시켜주면 됨
				loadNaverMap(pos.coords.latitude, pos.coords.longitude);

				let aptGpsJson = /*[[${aptGpsJson}]]*/ {};
				console.log(aptGpsJson);
				let gpsJsonArray = JSON.parse(aptGpsJson);

				// JSON 배열 순회
				$.each(gpsJsonArray, function (index, item) {

					console.log("Name: " + item.abGps);
					setMarkers(item.abGps.split(",")[0],item.abGps.split(",")[1], "테스트");
				});


			});

		});


		function loadNaverMap(lat, lng) {
			map = new naver.maps.Map('map', {
				center: new naver.maps.LatLng(lat, lng), //좌표
				zoom: 13, //지도의 초기 줌 레벨
				minZoom: 6, //지도의 최소 줌 레벨
				draggable: true,
				pinchZoom: true,
				scrollWheel: true,
				disableKineticPan: false, // 관성드래깅
				scaleControl: false, // 스케일 컨트롤러
				logoControl: true, // 로고 컨트롤러
				logoControlOptions: {
					position: naver.maps.Position.BOTTOM_RIGHT
				},
				mapDataControl: false,
				zoomControl: true, //줌컨트롤러
				zoomControlOptions: {
					position: naver.maps.Position.TOP_LEFT
				},
				mapTypeControl: false
			});
		}

		function setMarkers(lat, lng) {
			marker = new naver.maps.Marker({
				position: new naver.maps.LatLng(lat, lng),
				map: map
			});
		}
		function register(){
			alert("test");
		}
		// InfoWindow 생성
		var infoWindow = new naver.maps.InfoWindow({
			content: `<div style="padding:10px; min-width:100px; text-align:center;">test입니다</div>`
		});

		// 마커 클릭 시 InfoWindow 표시
		naver.maps.Event.addListener(marker, "click", function() {
			infoWindow.open(map, marker);
		});

		// 마커 외부 클릭 시 InfoWindow 닫기
		naver.maps.Event.addListener(map, "click", function() {
			infoWindow.close();

		});

	</script>
</th:block>


</html>