<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.pkh.realty.dao.AptBuildingMapper">
    <resultMap type="kr.com.pkh.realty.dto.AptBuildingDTO" id="aptBuildingMap">
        <id column="AB_ADDRESS" property="abAddress"/>
        <id column="AB_GPS" property="abGps"></id>
    </resultMap>
    <select id="selectAptBuildingGpsList" resultMap="aptBuildingMap">
        SELECT
            AB_GPS
        FROM
            TB_APT_BUILDING
        WHERE AB_GPS IS NOT NULL
        LIMIT 0, 50
    </select>
</mapper>