<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.com.pkh.batch.mapper.AptBuildingMapper">

    <insert id="insertAptAddress" >
        INSERT INTO
            TB_APT_BUILDING
        (
            AB_PNU
        , AB_NAME
        , AB_ADDRESS
        , AB_ROAD_ADDRESS
        )
        VALUES
            (
             #{pnu}
            ,#{name}
            ,#{address}
            ,#{roadAddress}
            )
    </insert>
</mapper>